
div.knowMoreBtn:hover {
  background-color: darkorange;
  border: 10px solid black;
}

a:link {
  color: white; 
}

a:visited {
  color: white; 
}

a:active {
  color: rgb(0, 0, 0); 
    background-color: white;
}
